<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baker Portfolio</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/2545d122b16126676225a5b52283ae23?family=VCR+OSD+Mono" rel="stylesheet"
        type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="/js/contactForm.js"></script>

</head>

<body>
    <div class="container">
        <nav>


            <div class="userDetails">
                <p class="links">Baker Quillin</p>
                <p class="links">Web Developer</p>


            </div>
            <div class="home">
                <a href="/" class="linkClean links">
                    About Me
                </a>
            </div>
            <div class="projects">
                <a href="/projects" class="linkClean links">
                    Projects
                </a>
            </div>
            <div class="contact">
                <a href="/contact" class="linkClean links">
                    Contact
                </a>
            </div>

    </div>
    </nav>
    <div class="formContact">
        <h1>Contact Me</h1>
        <form action="https://formspree.io/f/xjvjvpbd" method="post">
            <label>
                E-mail
                <input type="email" class="email" name="_replyto" />
            </label>
            <label>
                Subject
                <input type="text" class="message" />
            </label>
            <label>
                Message
                <textarea></textarea>
                <button type="submit" class="submit">Send</button>
            </label>
            <div class="status">

            </div>
        </form>
    </div>
    <div class="contact-form">
        <ul>
            <li class="listCenter">Email: bakerquil@gmail.com</li>
            <li class="listCenter">
                LinkedIn : https://www.linkedin.com/in/bakerquil111/
            </li>
            <li class="listCenter">Phone Number: 704-909-9813</li>
            <li class="listCenter">
                Github: https://github.com/bakerquil
            </li>

        </ul>



    </div>



</body>

</html>