<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baker Portfolio</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
<link href="//db.onlinewebfonts.com/c/2545d122b16126676225a5b52283ae23?family=VCR+OSD+Mono" rel="stylesheet" type="text/css"/>

</head>

<body>
    <div class="container">
          <nav>


            <div class="userDetails">
                <p class="links">Baker Quillin</p>
                <p class="links">Web Developer</p>
                
               
            </div>
            <div class="home">
                <a href="/" class="linkClean links">
                    About Me 
                </a>
            </div>
            <div class="projects">
                <a href="/projects" class="linkClean links">
                    Projects
                </a>
            </div>
            <div class="contact">
                <a href="/contact" class="linkClean links">
                    Contact
                </a>
            </div>

    </div>
    </nav>
  <div class="contact-form">
    <ul>
        <li>Email: bakerquil@gmail.com</li>
        <li><ion-icon name="logo-linkedin"></ion-icon>https://www.linkedin.com/in/bakerquil111/</li>
        <li>Phone Number: 704-909-9813</li>
        <li><ion-icon name="logo-github"></ion-icon>https://github.com/bakerquil</li>

    </ul>



  </div>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</body>

</html>