<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baker Portfolio</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/2545d122b16126676225a5b52283ae23?family=VCR+OSD+Mono" rel="stylesheet"
        type="text/css" />
       <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>

</head>

<body>

    <div class="container">
        <nav>


            <div class="userDetails">
                <p class="links">Baker Quillin</p>
                <p class="links">Web Developer</p>


            </div>
            <div class="home">
                <a href="/" class="linkClean links">
                    About Me
                </a>
            </div>
            <div class="projects">
                <a href="/projects" class="linkClean links">
                    Projects
                </a>
            </div>
            <div class="contact">
                <a href="/contact" class="linkClean links">
                    Contact
                </a>
            </div>

    </div>
    </nav>

    <div class="about-me">
        <h1>About me</h1>
        <p>Web developer proficient in both front and back end technology. Well versed in working as a team in agile
            development cycles.
            <br>
            <br>
            Proficient in:

            HTML5,
            CSS,
            Bootstrap,
            Handlebars,
            Node.js,
            noSQL,
            mySQL,
            React.js,
            JavaScript, and
            Jquery
        </p>
        
        <p class="resume">Link to <a href="/images/resume.pdf" target="_blank">resume</a></p>
    </div>
    <div class="hello">
        <h2>no matter what you are starting</h2>
        <h2>Everything Starts With Hello World!</h2>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</body>

</html>