<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baker Portfolio</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
<link href="//db.onlinewebfonts.com/c/2545d122b16126676225a5b52283ae23?family=VCR+OSD+Mono" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="container">
        <nav>


            <div class="userDetails">
                <p class="links">Baker Quillin</p>
                <p class="links">Web Developer</p>
                
               
            </div>
            <div class="home">
                <a href="/" class="linkClean links">
                    About Me 
                </a>
            </div>
            <div class="projects">
                <a href="/projects" class="linkClean links">
                    Projects
                </a>
            </div>
            <div class="contact">
                <a href="/contact" class="linkClean links">
                    Contact
                </a>
            </div>

    </div>
    </nav>
    <div class="leftLine">
    <div class="project1">
        <h1 class="titleLeft">Constitution Quiz</h1>
        <p class="projectText">This app provides users with a resource they can use to improve their understanding of
            American civics and political history. Our motivation for creating this app was a desire to help regular
            Americans improve their knowledge of basic American civics in a fun and engaging way.</p>
        <p class="projectText">In order to get our app up-and-running, we built a React.js web app that uses
            React-Modal, Lodash, Bcryptjs, Express, Morgan, Axios, Mongoose, and Passport.</p>
        <p class="projectText">
            <ion-icon name="logo-github"></ion-icon>Link to <a href="https://github.com/bakerquil/Constitution_Quiz"
                target="_blank">github</a> & Link to the deployed <a
                href="https://constitutionquiz.herokuapp.com/">version</a>
        </p>

        <iframe class="projectVideo" width="400" height="400" src="https://www.youtube.com/embed/7SgBEjk7Ddo"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    </div>

    <div class="project2">
        <h1 class="titleLeft">Movie Trailer Web App</h1>
        <p class="projectText">Once we had the information from the movie displayed we wanted to give the user an
            opportunity to see the preview of the movie. We felt that we could improve on the user's experience by not
            just providing the official trailer but the Honest Trailer from the YouTube API</p>
        <p class="projectText">Built with

            Bulma,

            jQuery,

            fontAwesome,

            OMDB API,

            Google API YouTube Image</p>
        <p class="projectText">
            <ion-icon name="logo-github"></ion-icon>Link to <a href="https://github.com/bakerquil/movie_trailer_web_app"
                target="_blank">github</a> & Link to the deployed <a
                href="https://v-lax.github.io/movie_trailer_web_app/index.html">version</a>
        </p>
        <iframe class="projectVideo" width="400" height="400" src="https://www.youtube.com/embed/FaYAFNWl2VE"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="project3">
        <h1 class="projectText">Budget Tracker</h1>
        <p class="projectText">A simple budget tracker used to track expensses hosted on heroku complete with web
            manifest</p>
        <p class="projectText">Built using REST API, Express, Mongoose, jQuery </p>
        <p class="projectText">
            <ion-icon name="logo-github"></ion-icon>Link to <a href="https://github.com/bakerquil/Budget_Tracker"
                target="_blank">github</a> & Link to the deployed <a
                href="https://frozen-bayou-21491.herokuapp.com/">version</a>
        </p>
        <iframe class="projectVideo" width="400" height="400" src="https://www.youtube.com/embed/u14kDp1TZ5g"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</body>

</html>