.contact-form {
    width: 100%;
    text-align: center;
}

.listCenter {
    text-align: center;
    list-style-type: none;
}

label, input, textarea {
    display: block;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.formContact {
    margin-right: 50%;
    margin-left: 45%;
    width: 50%;
    margin-top: 10%;

}